:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  background-color: #242424;
}

#root {
  /* This setup makes the root container a flexible column that takes up
     at least the full height of the screen. It allows child components
     like the LoginPage or MainLayout to control their own alignment. */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
